body {
    background-color: #f0f0f0;
  }

  body.dark-mode {
    background-color: #333;
    
    .tres {
        background-color: rgb(214, 121, 237);
    }
  
  }
  

header {
    display: flex;
    justify-content: space-between; /* Esto separará el logo y el navbar */
    align-items: center;
    background-color: #333; /* Color de fondo del header */
    padding: 10px;
}

/* Estilos para el logo */
.logo {
    margin-right: 20px; /* Espacio entre el logo y el navbar */
}

.uno {
    width: 100px;
}

/* Estilos para el navbar */
.navbar {
    display: flex;
}

.navbar a {
    color: #fff; /* Color del texto en el navbar */
    margin-left: 10px; /* Espacio entre los enlaces en el navbar */
    text-decoration: none; /* Quitamos la decoración de subrayado */
}

/* Colores del resto del contenido */
main, footer {
     /* Color de fondo del contenido principal y el footer */
    padding: 10px;
}

/* Estilos para colocar el párrafo al lado derecho de la imagen */
.once {
    display: flex;
    align-items: flex-start; /* Alineamos la imagen y el párrafo en la parte superior */
    
}

.imagenCambiante{
    width: 190px; /* Puedes ajustar el ancho según sea necesario */
    margin-right: 30px;
    border-radius: 300px;
}


/* Estilos para el contenedor del párrafo y el enlace */
.contenedor-parrafo-enlace {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se ajusten en una nueva línea si no caben horizontalmente */
    align-items: center;
}

.tres {
    flex: 1; /* El párrafo ocupará todo el espacio disponible */
}

.ocho {
    margin-top: 10px; /* Espacio entre el enlace y el párrafo */
    background-color: rgb(214, 121, 237);
}

.siete {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.feid {

    text-align: start;
}

.fresa {
    background-color: rgb(214, 121, 237);
}



footer{
    text-align: center;
    background-color: rgb(214, 121, 237);
}
